<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About me 😃
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card-badge">
    <div class="badge-base LI-profile-badge" data-locale="de_DE" data-size="large" data-theme="dark"
      data-type="HORIZONTAL" data-vanity="markus-kara-031949212" data-version="v1">
      <!--  <a class="badge-base__link LI-simple-link" href="https://de.linkedin.com/in/markus-kara-031949212?trk=profile-badge">Markus Kara</a> -->
    </div>
  </ion-card>
</ion-content>